<div class="container">
    <div class="header">
      <span>Nome</span>
      <span>Data di Nascita</span>
      <span>Professione</span>
      <span>Email</span>
      <span>Telefono</span>
    </div>
    <div class="divider"></div>
    <div class="content">
      <div class="list">
        @if(listService.clients != {}){ 
          @for(item of listService.clients; track $index){
            <app-row [list]="{nome: item.nome, data: item.data_nascita.split('-').reverse().join('/'), professione: item.professione, mail: item.email, tel:item.telefono}"></app-row>
          } 
        }
      </div>
    </div>
  </div>
  
