<div class="container">
  <div class="header">
    <span>Operatore</span>
    <span>Data</span>
    <span>Descrizione</span>
  </div>
  <div class="divider"></div>
  <div class="content">
    <div class="list">
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
      <app-row></app-row>
    </div>
  </div>
</div>
