<div class="container">
  <div class="header">
    <span>Operatore</span>
    <span>Email</span>
    <span><a (click)="onAdd()"><i class='bx bx-user-plus'></i></a></span>
  </div>
  <div class="divider"></div>
  <div class="content">
    <div class="list">
      @if(list){ 
        @for(item of listService.users; track $index){
          @if(item.name != 'Admin'){
            <app-row [list]="{operatore: item.name, email:item.email}"></app-row>
          }
        } 
      }
    </div>
  </div>
</div>
