:host{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  margin-top: 1rem;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 20px;
  &:hover{
    background-color: #3d43e0;
    border: none;
    color: #fff;
  }
  p{
    font-size: 1.5rem;
    font-weight: 400;
    width: 33.3%;
    text-align: center;
    //color: #000;
  }
}