<div class="container">
  <div class="card-container">
    <div class="card">
      <div class="title">
        <h2>Numero perizie: </h2>
      </div>
      <div class="content">
        <p>
          230
        </p>
      </div>
    </div>
    <div class="card">
      <div class="title">
        <h2>Numero periti: </h2>
      </div>
      <div class="content">
        <p>
          150
        </p>
      </div>
    </div>
    <div class="card">
      <div class="title">
        <h2>Numero clienti: </h2>
      </div>
      <div class="content">
        <p>
          23
        </p>
      </div>
    </div>
    <div class="parent">
      <div class="card">
        <div class="title">
          <h2>Card Title</h2>
        </div>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
            tincidunt, nunc nec lacinia ultricies, nunc nunc ultricies
            sapien, nec ultricies sapien nunc nec nunc. Sed tincidunt, nunc
            nec lacinia ultricies, nunc nunc ultricies sapien, nec ultricies
            sapien nunc nec nunc.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
