<div class="container">
  <div class="card-container">
    <div class="card">
      <div class="title">
        <h2>Numero perizie: </h2>
      </div>
      <div class="content">
        <p>
          {{form.get('perizieNumber')!.value}}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="title">
        <h2>Numero periti: </h2>
      </div>
      <div class="content">
        <p>
          {{form.get('workersNumber')!.value}}
        </p>
      </div>
    </div>
    <div class="card">
      <div class="title">
        <h2>Numero clienti: </h2>
      </div>
      <div class="content">
        <p>
          {{form.get('userNumber')!.value}}
        </p>
      </div>
    </div>
    <div class="parent">
      <div class="card">
        <div class="title">
          <h2>GUADAGNO</h2>
        </div>
        <div class="content">
          <canvas id="Chart">{{chart}}</canvas>
        </div>
      </div>
    </div>
  </div>
</div>
