<div class="container">
    <div class="container">
        <div class="card">
            <div class="card-header">
                <h3>Ultime perizie</h3>
            </div>
            <div class="card-body">
                @for(item of homeService.perizie; track $index){
                    <app-row [list]="item"></app-row>
                }
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3>Ultime persone connesse</h3>
            </div>
            <div class="card-body">
                @for(item of homeService.utenti; track $index){
                    <app-row [list]="item"></app-row>
                }
            </div>
        </div>
    </div>
</div>
<!--TODO: Rework home page and put the last perizie in a card and in onother card put the last three person who was connected in the mobile application-->