<aside>
  <h2><strong>R</strong>ilievi <strong>& </strong> <strong>p</strong>erizie</h2>
  <nav>
    <ul>
      <a class="li" appActiveClass routerLink="/home/dashboard" routerLinkActive="active">
        <span><i class="bx bx-home"></i> Home</span>
      </a>
      <a class="li" appActiveClass routerLink="/home/list" routerLinkActive="active">
        <span ><i class="bx bx-list-ul"></i> Elenco perizie</span>
      </a>
      <a class="li" appActiveClass routerLink="/home/userlist" routerLinkActive="active">
        <span><i class="bx bxs-user-pin"></i> Elenco dipendenti</span>
      </a>
      <a class="li" appActiveClass routerLink="/home/map" routerLinkActive="active">
        <span><i class="bx bx-map-pin"></i> Mappa</span>
      </a>
    </ul>
  </nav>
</aside>
