<aside>
  <h2><strong>R</strong>ilievi <strong>& </strong> <strong>p</strong>erizie</h2>
  <nav>
      <ul>
        <li class="li" appActiveClass [isOpen]=true><a><i class='bx bx-home'></i> Home</a></li>
        <li class="li" appActiveClass><a><i class='bx bx-list-ul'></i> Elenco perizie</a></li>
        <li class="li" appActiveClass><a><i class='bx bxs-user-pin' ></i> Elenco dipendenti</a></li>
        <li class="li" appActiveClass><a><i class='bx bx-map-pin' ></i> Mappa</a></li>
      </ul>
  </nav>
</aside>