:host{
  margin: auto;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrap{
  height: 100%;
  width: 100%;
}
.container{
  display: flex;
  text-align: center;
  height: 40vh;
  width: 30vw;
  border-radius: 20px;
  .leftside{
    flex: 4;
    padding-left: 40px;
    padding-top: 30px;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    .header{
      h1{
        font-size: 2.5rem;
        font-weight: bolder;
        text-align: left;
      }
      p{
        font-size: 1.25rem;
        font-weight: 200;
        text-align: left;
        margin-bottom: -3rem;
      }
    }
    .form{
      margin-top: 4rem;
      margin-left: 2rem;
      margin-right: 6rem;
      gap: 2rem;
      display: flex;
      flex-direction: column;
      text-align: left;
      label{
        margin-bottom: -1.5rem;
        font-size: 1rem;
        font-weight: 600;
      }
      input{
        padding: 0.5rem;
        border-radius: 10px;
        font-size: 1.5rem;
        border: 1px solid #ddd;
      }
      button{
        padding: 0.75rem;
        border-radius: 10px;
        font-size: 1rem;
        
        &:first-of-type{
          margin-top: 1rem;
          background-color: rgb(53, 58, 186);
          color: #fff;
          border: none;
          margin-bottom: -1rem;
        }
        &:last-of-type{
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          background-color: #fff;
          color: #000;
          border: 1px solid #ddd;
          svg{
            height: 1.5rem;
            width: 1.5rem;
          }
        }
      }
    }
  }
  .rightside{
    background-color: rgb(53, 58, 186);
    flex: 3;
    height: 100%;
    //border: 1px solid #000;
    border-start-end-radius: 20px;
    border-end-end-radius: 20px;
  }
}