<div class="wrap">
  <div class="container">
    <div class="leftside">
      <div class="header">
        <h1>Log in</h1>
        <p>Welcome back! Insert your credentials</p>
      </div>
      <form class="form" [formGroup]="form">
        <div class="input-container">
          <label>User:</label>
          <input type="text" formControlName = 'username'/>
          <label>Password:</label>
          <input type="password" formControlName = 'password'/>
        </div>
        <div class="button-container">
          <button (click)="logIn()" [disabled]="!form.valid">Sign in</button>
        </div>
      </form>
    </div>
    <div class="rightside"></div>
  </div>
</div>
