<div class="container">
    <google-map
    [mapId]="'DEMO_MAP_ID'" 
    height="70%" 
    width="80%" 
    [center]="center"
    [zoom]="zoom"
    [options]="options"
    >
    @if(perizie && opzioni.length){
        @for(item of dasdsad(); track $index){
            <map-advanced-marker 
                [position]="{'lat':+item.coor.split(',')[0],'lng':+item.coor.split(',')[1]}"
                [content]="opzioni[$index].element"
                [options]="markerOptions">
            </map-advanced-marker>
            
        }
    }
    </google-map>
</div>