<ion-card >
  <ion-card-header>
    <ion-card-title>Login</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form [formGroup]="form">
      <ion-item>
        <ion-label>User:</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password:</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
      <a style="float: right;margin-block: 1rem;" (click)="onPassword()">Password dimenticata?</a>
      <ion-button expand="block" (click)="onLogIn()">Login</ion-button>
    </form>
  </ion-card-content>
</ion-card>

