*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-grow: 1;
}
.wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
}
