<app-navbar *ngIf=""></app-navbar>
<div class="container">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><i class='bx bx-map-alt' ></i> Map</h1>
      <h4 class="card-subtitle">Visualizza la posizione delle perizie</h4>
      <img src="../../../assets/image/maps.png" alt="">
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><i class='bx bx-show' ></i> Show profiles</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><i class='bx bx-show' ></i> show perizie</h1>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h1 class="card-title"><i class='bx bx-user-plus' ></i> Add profiles</h1>
    </div>
  </div>
</div>