$cardHeight: 15vh;
$secondary-color: rgba(255, 196, 1, 0.849);
$third-color: rgba(255, 201, 22, 0.425);
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 30vh 30vh;
  align-items: center;
  justify-content: center;
  margin-inline:auto;
  gap: 1rem 2rem;
  margin-top: calc(30vh - #{$cardHeight}/2);
  height: 60vh;
  //border: 1px solid $secondary-color;
  .card{
    border: 1px solid $secondary-color;
    height: 100%;
    width: 25vw;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    transform: all 1s ease;
    .card-title{
      margin-top: 5px;
      color: #fff;
      height: 10%;
      i{
        margin-right: 2px;
        font-size: 22pt;
        font-weight: 500;
      }
    }
    .card-subtitle{
      color: #fff;
      height: 10%;
      padding-top: 6px;
      text-transform: capitalize;
    }
    .card-body{
      height: 80%;
    }
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 10px;
    }
    &:hover{
      cursor: pointer;
      box-shadow: 3px 4px 6px 10px $third-color;
      color: $secondary-color;
    }
  }
}