<div class="container">
  <nav>
    <div class="title">
        @if(router.url == '/home/dashboard'){
          <h1>Dashboard</h1>
        }
        @else if(router.url == '/home/list'){
          <h1>Elenco perizie</h1>
        }
        @else if(router.url == '/home/userlist'){
          <h1>Elenco Dipendenti</h1>
        }
        @else if(router.url == '/home/map'){
          <h1>Mappa</h1>
        }
        @else if(router.url == '/home/clients'){
          <h1>Elenco Clienti</h1>
        }
    </div>
    <div class="rightSide">
      <button (click)="onClick()">
        <img id="userImg" src="https://cdn-icons-png.flaticon.com/512/219/219970.png">
        <i class='bx bx-chevron-down'></i>
        <ul class="collapse-menu" [class.collapse]="isCollapsed" >
          <li><a><i class='bx bx-log-out'></i> Log Out</a></li>
        </ul>
      </button>
    </div>
  </nav>
</div>

